* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #eee;
    font-family: 'Inconsolata', monospace;
}

.container {
    width: 500px;
    height: 500px;
    margin: 150px auto;
    position: relative;
    background-color: white;
    border-top-right-radius: 30px;
}

i {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: grey;
}

img {
    position: absolute;
    top: 3rem;
    left: 12rem;
}

h2 {
    position: absolute;
    top: 10rem;
    left: 9rem;
}

p {
    position: absolute;
    top: 14rem;
    left: 5rem;
    max-width: 40ch;
    text-align: center;
}

h3 {
    position: absolute;
    top: 18rem;
    left: 5rem;
    color: #cf8204;
}

a {
    position: absolute;
    bottom: 6rem;
    left: 8rem;
    text-decoration: none;
    color: white;
    width: 250px;
    height: 50px;
    background-color: #242e4c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.snow-1 {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: white;
    top: -2rem;
    border-radius: 50%;
}

.snow-2 {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: white;
    top: -2rem;
    left: 30rem;
    border-radius: 50%;
}

.snow-3 {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: white;
    top: -9rem;
    left: 30rem;
    border-radius: 50%;
}

.snow-4 {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: white;
    top: -9rem;
    left: 15rem;
    border-radius: 50%;
}

.snow-5 {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: white;
    top: -6rem;
    left: 15rem;
    border-radius: 50%;
}